{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block body %}
    <div class="form">
        <div class="tab-content">
            <div id="signup">
                <h2>Вы не являетесь нашим клиентом, пожалуйта пройдите регистрацию.</h2>
                <h2 id="demo"></h2>
                <form action="http://127.0.0.1:8080/api/v1/auth/register" method="post">
                    <div class="top-row">
                        <div class="field-wrap">
                            <label>
                                Имя<span class="req">*</span>
                            </label>
                            <input id="first_name" type="text" required autocomplete="off"/>
                        </div>
                        <div class="field-wrap">
                            <label>
                                Фамилия<span class="req">*</span>
                            </label>
                            <input id="last_name" type="text" required autocomplete="off"/>
                        </div>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Email <span class="req">*</span>
                        </label>
                        <input id="email-register" type="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Пароль<span class="req">*</span>
                        </label>
                        <input id="password-register" type="password" required autocomplete="off"/>
                    </div>
                    <button type="submit" id="register" class="button button-block">Регистрация</button>
                </form>
            </div>
            <div id="login">
                <h1>Добро пожаловать, назад!</h1>
                <form method="post">
                    <div class="field-wrap">
                        <label>
                            Email <span class="req">*</span>
                        </label>
                        <input id="email-login" type="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Пароль <span class="req">*</span>
                        </label>
                        <input id="password-login" type="password" required autocomplete="off"/>
                    </div>
                    <p class="forgot"><a href="#">Забыли пароль?</a></p>
                    <button id="log-in" class="button button-block">Войти</button>
                </form>
            </div>
        </div><!-- tab-content -->

    </div> <!-- /form -->

{% endblock %}
{% block js %}
<link rel="stylesheet" href="{% static 'js/auth.js' %}">
{% endblock %}
