{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Корзина заказов</h1>
        <form id="form" datatype="application/json" method="post">
            <ul class="order-list"></ul>
            <div id="total" class="total">
                <p>Общая сумма: <span id="total-price"></span></p>
            </div>
            <button id="checkout-btn" type="submit" class="checkout-btn">Оформить заказ</button>
        </form>
        <p id="empty-cart-message">Корзина пуста</p>

    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}